<!DOCTYPE html>
<html>
  <head>
    <title>PostJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if logged_in?%>
     <div class:"logt">
        <%= button_to "Log out", logout_path ,method: "delete"%>
     </div>
     
     <%end%>
    <%= yield %>
    <% if logged_in?%>
     <%= button_to "Back", categories_path, method: :get %>
     <%end%>
    </body>
</html>
